
*
{
padding: 0px;
margin: 0px;

}





body{
display: grid;
place-items: center;
width:100vw;
background-color:#E9ECF5;
height:100vh;
}
#about_content
{
width:50%;
height:40%;
box-shadow: 20px 20px 10px #474448;
background-color: #F1F0EA;
-webkit-transition: background-color 2s ease-out;
-moz-transition: background-color 2s ease-out;
-o-transition: background-color 2s ease-out;
transition: background-color 2s ease-out;
border-radius:20px;
}
#about_paragraph
{
overflow: hidden;
padding: 20px;
}
#about_content:hover
{
    background-color: #E5D1D0;  
    cursor: pointer;  
}